body{
  font-family: Arial, Helvetica, sans-serif;
  color:whitesmoke;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
  }

.div1 { grid-area: 1 / 1 / 2 / 6;
background-color: rgb(21, 36, 43)}
.div2 { grid-area: 2 / 1 / 6 / 2; 
background-color: #283D47;}
.div3 { grid-area: 2 / 5 / 6 / 6;
background-color: #283D47; }

.div4 {
  grid-area: 2 / 2 / 6 / 5;
display: flex;
flex-direction: row;
background-color: rgb(46, 70, 82);
flex-wrap: wrap;

   
    }
    .content{
     background-color: #2a3940;
     border-radius: 10px;
      width: max-content;
      margin: 10px;
    }

h1{
  
}
.header-buttons{
background-color: rgb(23, 39, 46);
padding: 20px;
}
.links{
  
}
.header-buttons:link {
  text-decoration: none;
  color: whitesmoke;

}

.header-buttons:visited {
  text-decoration: none;
  color: whitesmoke;

}
.header-buttons:hover{
  background-color: rgb(19, 33, 39);
}